/* color text and background
 #2196F3 blue hover, focus, weblogo
  #757575 color text

color: rgba(255, 255, 255, 0.6);
 footer color mail and tel


*/

/*  */
:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --color-contacts: rgba(255, 255, 255, 0.6);
  --primary-color-white: #ffffff;
}

body {
  font-family: 'Roboto', 'sans-serif';
  color: var(--text-color);
  background-color: var(--primary-color-white);
}

/* Шапка */
.header-nav {
  color: #ffffff;
}

.logo {
  text-decoration: none;
  font-family: 'Raleway', 'sans-serif';
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.color-logo.darker {
  color: #000000;
  text-indent: 0%;
}

.items-nav a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.items-nav a:hover,
.items-nav a:focus {
  color: var(--accent-color);
}

.items-cont a {
  text-decoration: none;
  color: var(--text-color);
}

.items-cont a:hover,
.items-cont a:focus {
  color: var(--accent-color);
}

/* section-hero */

.section-hero {
  text-align: center;
  background-color: #2f303a;
  color: #ffffff;
}

.button-hero {
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
}

.button-hero:hover,
.button-hero:focus {
  background-color: #188ce8;
}

/*section our advantages */

.items-advantages h3 {
  color: var(--primary-text-color);
}

/* section work */

.section-work {
}

.title-section {
  color: var(--primary-text-color);
}

/* sectiont team */

.section-team {
  background-color: #f5f4fa;
}

.items-team h3 {
  color: var(--primary-text-color);
}

/* Footer */

.footer {
  background-color: #2f303a;
}

.footer > a {
  text-decoration: none;
}

.color-logo.lighter {
  color: #ffffff;
}

.address a {
  text-decoration: none;
  color: var(--color-contacts);
}

.address p {
  color: #ffffff;
}

/* ПОРТФОЛІО */

/* Section filter */

.button-filter {
  background-color: #f5f4fa;
  color: var(--primary-text-color);
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.filter-box a {
  text-decoration: none;
}

.filter-box h2 {
  color: var(--primary-text-color);
}

.filter-box p {
  color: var(--text-color);
}
