:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --color-contacts: rgba(255, 255, 255, 0.6);
  --primary-color-white: #ffffff;
}

body {
  font-family: 'Roboto', 'sans-serif';
  color: var(--text-color);
  background-color: var(--primary-color-white);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Шапка */
.header-nav {
  color: #ffffff;
}

.logo {
  text-decoration: none;
  font-family: 'Raleway', 'sans-serif';
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.color-logo.darker {
  color: #000000;
  text-indent: 0%;
}

.list {
  list-style: none;
}

.items-nav {
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.02;
}

.items-nav a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.items-nav a:hover,
.items-nav a:focus {
  color: var(--accent-color);
}

.items-cont {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.items-cont a {
  text-decoration: none;
  color: var(--text-color);
}

.items-cont a:hover,
.items-cont a:focus {
  color: var(--accent-color);
}

/* section-hero */

.section-hero {
  text-align: center;
  background-color: #2f303a;
  color: #ffffff;
}

.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-hero {
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.button-hero:hover,
.button-hero:focus {
  background-color: #188ce8;
}

/*section our advantages */

.title-hidden {
  display: none;
}

.items-advantages h3 {
  color: var(--primary-text-color);
  line-height: 1.2;
  text-transform: uppercase;
}

.items-advantages p {
  line-height: 1.7;
}

/* section work */

h2.title-section {
  color: var(--primary-text-color);
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
}

/* sectiont team */

.section-team {
  background-color: #f5f4fa;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
}

.items-team h3 {
  color: var(--primary-text-color);
  font-weight: 500;
}

/* Footer */

.footer {
  background-color: #2f303a;
}

.footer > a {
  text-decoration: none;
}

.color-logo.lighter {
  color: #ffffff;
}

.address .location {
  font-style: normal;
  line-height: 1.7;
  font-weight: 400;
}

.address .link-cont {
  text-decoration: none;
  color: var(--color-contacts);
  line-height: 1.7;
  font-weight: 400;
  font-style: normal;
}

.address span {
  color: #ffffff;
}

/* ПОРТФОЛІО */

/* Section filter */

.button-filter {
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.filter-box a {
  text-decoration: none;
}

.filter-box h2 {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06;
}

.filter-box p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.9;
}
